<div class="container">
    <div class="row p-5">
        <div class="col-md-8"> 
            <img src="https://cdn-icons-png.flaticon.com/512/295/295128.png" alt="" height="400px" width="400px">
        </div>
        <div class="col-md-4">
            <form action="" (ngSubmit)="checkLogin()" ngNativeValidate>
                <div class="form-group">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="username" required="" placeholder="enter your username" name="uname">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="pwd" required="" placeholder="enter your password" name="pwd">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary m-2">Login</button>
                    <button  type="reset" class="btn btn-danger">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>
